body {
  background-color: royalblue;
  cursor: default;
}

body hr {
  color: chocolate;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 15px;
  margin: 15px 5px;
}

main > div form {
  display: flex;
  flex-direction: column;
}

main > div form > button {
  padding: 10px 20px;
}

h3 span {
  color: chocolate;
}

a {
  text-decoration: none;
}

div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div div + a {
  align-self: flex-end;
  margin-right: 10px;
  color: chocolate;
  text-transform: uppercase;
}

div h3 + p {
  color: chocolate;
}

button {
  cursor: pointer;
}

#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
